# Dependencies
node_modules/
**/node_modules/

# Build & Output
dist/
build/

# Local Environment Variables & Logs
.env
*.log

# Temp directory
scratch/
.gradle/
**/android/.gradle/
**/android/build/
**/android/app/build/

